@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
.wrapper,html,body
{
    height:100%;
    width:100%;  
    scroll-behavior: smooth; 
    
}
.wrapper
{
    display:flex;
}

#Section
{   display:flex;
    flex-flow: column wrap ;
    flex-grow:1;
    justify-content: center;
    font-family: 'Do Hyeon';
    font-weight: 10%;
    font-size: 175%;
    padding: 5%;
    border:0;
    margin:2%;
    background-color:#d0beee;
}

.row{flex-flow:row wrap;}

.Options
{
    display:flex;
    flex-flow: row wrap ;
    padding:20px;
    border:3px solid #0e172c ;
    margin: 2px;
    flex:1;
    font-family:'cherry swan';
    font-size:50%;
    background-color:#fec7d7;
    backdrop-filter: blur().
    
    
}

div{transition:1s;}


div.A:hover{transform: translate(4px,4px);}

.Question
{   
    align-self:flex-start;   
    color:#0e172c;

}

H4 { font-style: italic;
     font-weight: 500;
    }



