*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), #004643),url(Pictures/namjoon.jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
    display: inline;
    margin-top: 50px;
    padding-left: 40px;
}
.col{
   flex-basis: 50%;
    padding-left: 50px;
    margin: 50px 50px 200px 200px;
}
html{
    background-color: #004643;
}
h1{
   color:#fffffe ;
   font-size: 60px;
}
h2{
   color:#fffffe ;
   font-size: 50px;
}
h3{
     color: #fffffe;
    font-size: 25px;
}
h4{
    color: #fffffe;
    font-size: 17px
}
a:link {
  color:#fffffe ;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color:#abd1c6;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #fffffe;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color:#e8e4e6 ;
  background-color: transparent;
  text-decoration: underline;
}
p{
    color: #abd1c6;
    font-size: 17px;
}
.rm {
  display: block;
  position: absolute;
  margin-left: 750px;
  margin-right: 50px;
  width: 35%;
  top: 170px;
  border-radius: 3px;
}
.rmgif{
  display: block;
  position: absolute;
    margin-left: 725px;
    margin-right: 50px;
  width: 39%;
  top: 1350px;
  border-radius: 3px;
}
.joongif{
    display: block;
    position: absolute;
    margin-left: 60px;
    margin-right: 760px;
    width: 42%;
    top: 1890px;
    border-radius: 3px;
}
.knj{
    margin-left: 600px;
    margin-right: 50px;
}
.rmmixtape {
  display: block;
  position: absolute;
  margin-left: 950px;
  margin-right: 50px;
  max-width: 50%;
   max-height: 50%;
  top: 740px;
    transition: transform 0.5s;
}
.rmmixtape:hover{
    transform: translateY(-10px);
}
.mono {
  display: block;
  position: absolute;
  margin-left: 950px ;
  margin-right: 50px;
   max-width: 20%;
   max-height: 20%;
  top: 990px;
 transition: transform 0.5s;
}
.mono:hover{
    transform: translateY(-10px);
}

                   
